<ion-header>
	<ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="login" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <div class="title">
      <ion-title>
        <span>
          Inicio
        </span>
      </ion-title>
    </div>
    <ion-button (click)="signOut()" expand="block" fill="clear" shape="round" slot="end">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="false" scroll-y="false">
  <div  *ngIf="isload" class="main-container-div">
    <div class="banner">
      <div *ngIf="isload" class="scroll_container">
        <div class="item_scroll" *ngFor="let item of dataCartelera" (click)="goInfoCartelera(item)">
          <div class="div-style-card">
            <img src='../../assets/img/anuncio_prueba1.png' alt="">
          </div>
        </div>
      </div>
    </div>

    <div>
      <ion-list class="list-style">
        <div *ngFor="let item of buttonMenu">
            <button routerLink="{{item.id}}" expand="block" fill="clear" shape="round">
              <div>
                <ion-icon slot="start" name="{{item.icon}}"></ion-icon>
                <ion-label>{{item.name}}</ion-label>
              </div>
            </button>
        
        </div>
      </ion-list>
    </div>

    <div class="content-div animated bounceInUp" >
      <ion-grid fixed>
        <ion-row>
          <ion-col  size="6" (click)="goToSubject(subjects2.id)">
            <div *ngIf="subjects2.name !== 'Cartelera'" class="col-div">
              <img src="{{subjects2.icon}}" >
              <div>
                <ion-label>
                  {{subjects2.name}}
                </ion-label>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" (click)="goToSubject(subjects1.id)">
            <div *ngIf="subjects1.name === 'Cartelera'" class="col-div">
              <img src="{{subjects1.icon}}" >
              <div>
                <ion-label>
                  {{subjects1.name}}
                </ion-label>
                <ion-badge class="badge-style">4</ion-badge>
              </div>
            </div>
          </ion-col>
          <!-- <ion-col  size="6" (click)="goToSubject(subjects3.id)">
            <div *ngIf="subjects3.name !== 'Cartelera'" class="col-div">
              <img src="{{subjects3.icon}}" >
              <div>
                <ion-label>
                  {{subjects3.name}}
                </ion-label>
              </div>
            </div>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
  </div>
  </ion-content>

  <ion-footer collapse="fade">
    <ion-toolbar>
      <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom">
          <ion-tab-button  routerLink="/home">
            <ion-icon name="bookmark-outline"></ion-icon>
            <ion-label>
              Inicio
            </ion-label>
          </ion-tab-button>
          <ion-tab-button routerLink="/mis-reservas">
            <ion-icon name="ear-outline"></ion-icon>
            <ion-label>
              Reservas
            </ion-label>
          </ion-tab-button>
          <ion-tab-button routerLink="/directorio">
            <ion-icon name="call"></ion-icon>
            <ion-label>
              Directorio
            </ion-label>
          </ion-tab-button>
          <ion-tab-button routerLink="/mas-servicios">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>
              Más
            </ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
  