ion-content {
  // --background: linear-gradient(to right,#fc603f 0%,  #fd512d 100%);
  --background: linear-gradient(#eaf3f3 0%, #71c6ca 100%);
}

.main-container-div{
  width: 100%;
  .menu-btn{
      position: relative;
      top: 25px;
      left: 290px;
      background-color: inherit;
      color: #94babd;
      height: 40px;
      width: 40px;
  }
  ion-label{
      display: block;
      color: #eaf3f3;
      text-align: center;
  }
  
  .user-div{
      padding: 10px;
      width: 100%;
      height: 170px;
      --background: linear-gradient(#eaf3f3 0%, #71c6ca 100%);
      display: flex;
      padding-top: 20px;
      justify-content: space-between;

      img{
          position: relative;
          right: 60%;
          width:100px;
          height:100px;
          margin-top: 15px;
          margin-right: 20px;
          
      }
      .first-div{
          position: relative;
          padding-top: 35px ;
          left: 40%;

          .welcome{
              font-size: 18px;
              color: #94babd;
              font-weight: 500;
          }
          .name{
              font-size: 24px;
              color: #94babd;
              font-weight: 600;
          }
      }
  }
  .content-div{
    //   background: white;
      --background: linear-gradient(#eaf3f3 0%, #71c6ca 100%);
      width: 100%;
    //   height: 500px;
      border-top-right-radius: 75px;
      border-top-left-radius: 75px;
    //   margin-top: 30px;
    //   padding-top: 30px;

      .hello{
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 10px;
          padding-left: 5px;
          margin-top: 10px;
      }
      ion-grid{
          padding: 0px;
      }
      .col-div{
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 170px;
          
          box-shadow: 0px 3px 6px rgb(0,0,0,0.2);
          img{
              width: 70px;
              color: #eaf3f3;
          }
          ion-label{
              margin-top: 8px;
              font-weight: 600;
              font-size: 18px;
          }
      }
  }
}

.banner {
    // position: relative;
    width: 100%;
    // padding:0px !important;
    // margin: 0px !important;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 77px;
        background: var(--primary);
    }
    .scroll_container {
        // display: flex;
        white-space: nowrap;
        // height: 250px;
        // overflow: hidden;
        overflow-x: scroll;
        padding: 0px;
        margin: 0px;
    }

    .div-style-card{
        width: 100%;
    }
    .item_scroll {
        display: inline-block;
        // background: url('../../../assets/imgs/item_bg.png');
        background-size: cover;
        // background-repeat: no-repeat;
        // color: var(--white);
        // border-radius: 20px;
        // margin: 20px;
        padding: 5px;
        // padding-bottom: 15px;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    img{
        border-radius: 10px;
    }
}

.badge-style{
    border-radius: 60px;
    background-color: #4baeb3ed;
    width: 30px;
}

.list-style{
    display: flex;
    background-color: inherit;
    justify-content: center;
    div{
        padding-right: 2px;
        padding-left: 2px;
    }
    ion-label{
        font-size: 15px;
    }
    button{
        background-color: #4baeb3ed;
        border-radius: 10px;
    }
}
